In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
movie_db = pd.read_csv('./final_data.csv')
def strip(feature):
    movie_db[feature] = movie_db[feature].apply(lambda x: x.strip())
movie_db.drop(['Unnamed: 0'], axis = 1, inplace = True)
strip_features = ['director_name','actor_1_name','actor_2_name','actor_3_name']
for i in strip_features:
    strip(i)
movie_db

,genres,movie_title,actor_1_name,actor_2_name,actor_3_name,director_name,comb
0,"Action, Adventure, Sci-Fi, Thriller",Jurassic World,Bryce Dallas Howard,Judy Greer,Omar Sy,Colin Trevorrow,"bryce dallas howard, judy greer, omar sy, coli..."
1,"Adventure, Animation, Comedy, Family, Fantasy",Monsters University,Steve Buscemi,Tyler Labine,Sean Hayes,Dan Scanlon,"steve buscemi, tyler labine, sean hayes, dan s..."
2,"Action, Adventure, Fantasy, Sci-Fi",The Amazing Spider-Man 2,Emma Stone,Andrew Garfield,B.J. Novak,Marc Webb,"emma stone, andrew garfield, b.j. novak, marc ..."
3,"Action, Adventure, Animation, Comedy, Family, ...",Monsters vs. Aliens,Amy Poehler,Rainn Wilson,Stephen Colbert,Rob Letterman,"amy poehler, rainn wilson, stephen colbert, ro..."
4,"Adventure, Fantasy",The Hobbit: An Unexpected Journey,Aidan Turner,Adam Brown,James Nesbitt,Peter Jackson,"aidan turner, adam brown, james nesbitt, peter..."
...,...,...,...,...,...,...,...
40843,Horror Mystery Thriller,The Curse of the Necklace,Madeleine McGraw,Violet McGraw,Christina Moore,Juan Pablo Arias Munoz,"madeleine mcgraw, violet mcgraw, christina moo..."
40844,Action Horror Thriller,Azrael,Samara Weaving,Vic Carmen Sonne,Katariina Unt,E. L. Katz,"samara weaving, vic carmen sonne, katariina un..."
40845,Thriller Drama,Amber Alert,Hayden Panettiere,Tyler James Williams,Kevin Dunn,Kerry Bellessa,"hayden panettiere, tyler james williams, kevin..."
40846,Animation Horror,Abruptio,James Marsters,Hana Mae Lee,Christopher McDonald,Evan Marlowe,"james marsters, hana mae lee, christopher mcdo..."
40847,Romance Drama,She Taught Love,Arsema Thomas,Darrell Britt-Gibson,Taissa Farmiga,Nate Edwards,"arsema thomas, darrell britt-gibson, taissa fa..."

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer(tokenizer=lambda x: x.split(', '))
count_matrix = count_vectorizer.fit_transform(movie_db['comb'])
count_array = count_matrix.toarray()
count_array

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/feature_extraction/text.py:521: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [8]:
from tmdbv3api import TMDb, Movie
import requests
tmdb = TMDb()
tmdb.api_key = '9a0abfd52bb6c290c5c123d6b69d83cb'
tmdb_movie = Movie()

class Suggestion:
    def __init__(self):
        self.headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5YTBhYmZkNTJiYjZjMjkwYzVjMTIzZDZiNjlkODNjYiIsIm5iZiI6MTcyOTM1MzA2NS44MTA5MTgsInN1YiI6IjY2ZjI3NWU0YTgyYjAwNTcwMzI2ZDIxZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.k1dQkNkB_2phSel35QLQSzoz98UoBve1fMRzHJyESKk"
        }

    def get_genres(self, movie_id):
        url = f"https://api.themoviedb.org/3/movie/{movie_id}?language=en-US"
        response = requests.get(url, headers= self.headers)
        data = response.json()
        genres = ''
        for i in data['genres']:
            genres += i['name'] + ', '
        return genres[:-2]
    
    def get_director_cast(self, movie_id):
        url = f"https://api.themoviedb.org/3/movie/{movie_id}/credits?language=en-US"
        response = requests.get(url, headers = self.headers)
        casts = response.json()['cast']
        director = response.json()['crew']
        actor1 = None 
        actor2 = None
        actor3 = None
        n = len(casts)
        if n >= 3:
            actor1, actor2, actor3 = [casts[i]['name'] for i in range(3)]
        else:
            actor1, actor2, actor3 = [casts[i]['name'] for i in range(n)] + [None * (3 - n)]
        director = director[0]['name']
        return actor1 + ', ' + actor2 + ', ' + actor3 + ', ' + director
    
    def distance(self, vector):
        return np.linalg.norm(vector)
    
    def get_suggestion(self, movie_title):
        result = tmdb_movie.search(movie_title)
        movie_id = result[0].id
        comb = (self.get_director_cast(movie_id) +', '+ self.get_genres(movie_id)).lower()
        print(comb)
        vector = count_vectorizer.transform([comb]).toarray()[0]
        angle = []
        distances = []
        movie = movie_db['movie_title']
        for i in movie.index:
            distances.append([self.distance(count_array[i] - vector), movie[i]])
        distances.sort()
        return [distances[i][1] for i in range(1,21)]

In [9]:
suggest = Suggestion()
suggest.get_suggestion('Venom')

tom hardy, michelle williams, riz ahmed, monique ganderton, science fiction, action

['Venom: Let There Be Carnage',
 'Jason Bourne',
 'Warrior',
 "Ã€ l'aveugle",
 '11 Blocks',
 '3 dev adam',
 '44 Minutes: The North Hollywood Shoot-Out',
 'A Good Man',
 'A Small Town in Texas',
 'Absolon',
 'Absolute Deception',
 'After the Wedding',
 'Agent Cody Banks',
 'Airplane vs Volcano',
 'Alatriste',
 'American Heist',
 'American Justice',
 'American Kickboxer',
 'Amsterdam Heavy',
 'April Rain']